.function{
    background-color: #fff;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.4);
    width: 100%;
}
.header__function {
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-size: 22px;
    font-family: Roboto-Bold;
    height: 80px;
    background-color: #f5f6f7;

}
.header__function p{
    padding-left: 10px;
}
.video-block_function {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.ForIMac {
    position: relative;
    transition: all 1s ease-out;
}
.anim {
    transition: color .2s linear;
    transition: border .2s linear;
}
.screen {
}
.screenImg {
    position: absolute;
    width: 724px;
    height: 469px;
    top: 27px;
    left: 116px;
    /*  transition: all 1s ease-out;*/
    transition: all .3s;
}
.function_tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 1s ease-out;
}
.function_tabs {
    display: flex;
    flex-direction: row;
    /*	flex-wrap: wrap;*/
    margin-top: -30px;
    width: 67%;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /*    -webkit-overflow-scrolling: touch;*/
    -ms-overflow-style: none;
    transition: all 1s ease-out;
}
.function_tabs p {
    font-family: 'TTNorms-Regular';
    margin: 0px 10px;
    cursor: pointer;
    font-size: 20.44px;
    font-weight: bold;
    border-bottom: 4px solid #ccc;
    /*    transition: all .3s ease;*/
}
.function_tabs p:nth-child(1) {
    margin-left: 0px;
}
.function_tabs p:nth-child(5) {
    margin-right: 0px;
}
.LineText2 {
    width: 65%;
    border-bottom: 4px solid #ccc;
    margin-top: -4px;
    /*z-index: -1;*/
}
.fun-text {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 40px;
    height: 100px
}
.fun-text p {
    font-size: 19.59px;
    font-family: Roboto-Medium;
    text-align: center;
    line-height: 1.2;
    color: #65676b;
}


.compOff {
    transition: all 1s ease-out;
}
@media (min-width: 1000px){
    .function_tabs p:hover {
        color:#ccc;
    }
}
@media (max-width: 1010px) {
    .function_tabs p {
        font-size: 13px;
        font-weight: 400;
    }
    .video-block_function .compOff {
        width: 400px;
        height: auto;
    }
    .screen {
        /*    top: 14px;
            left: 49px;*/
    }
    .screenImg {
        top: 14px;
        left: 49px;
        width: 301px;
        height: 193px;
        transition: all .3s;
    }
    .fun-text {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .fun-text p {
        font-size: 13px
    }
}
@media (max-width: 500px) {
    .function_tabs p {
        padding-left: 0px;
        padding-right: 0px;
        font-weight: 400;
        font-size: 18px;
        font-family: Roboto-Medium;
    }
    .video-block_function .compOff {
        width: 350px;
        height: auto;
    }
    .screen {
        /*    top: 11px;
            left: 43px;*/
    }
    .screenImg {
        top: 11px;
        left: 43px;
        width: 264px;
        height: 169px;
        transition: all .3s;
    }
    .fun-text {
        /*height: 50px;*/
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .fun-text p {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px
    }
    .function_tabs {
        width: 96%;
    }
    .LineText2 {
        width: 96%;
    }
    .svgCenter {
        width: 50px;
        height: 50px;
        z-index: 101;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 50%;
        margin-left: -25px;
        cursor: pointer;
    }
}





/*.function_tabs p {
	margin-right: 5%;
}*/
@media (min-width: 1000px) {
    .function_tabs p:hover {
        color: #ccc;
    }

    .function_tabs p:nth-child(1) {
        margin-left: 0px;
    }

    .borderForText2:hover {
        color: #1876f2 !important;
        cursor: default !important;
    }

    .function_tabs p {
        font-family: Roboto-Medium;
        margin: 0px 10px;
        cursor: pointer;
        font-size: 20.44px;
        font-weight: bold;
        border-bottom: 4px solid #ccc;
        /* transition: all .3s ease; */
    }

    .borderForText2 {
        color: #1876f2;
        padding-bottom: 20px;
        border-bottom: 4px solid #1876f2 !important;
        /* transition: border .5s linear; */
    }
}








.video__feed_mob {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    font-family: Roboto-Bold;
    background-color: #f5f6f7;
}


.header__price{
    display: flex;
    height: 80px;
    background-color: #f5f6f7;
    /*width: 100%;*/
    align-items: center;
    padding-left: 40px;
    border-radius: 10px 10px 0 0 ;

}
.content__price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 10px 10px;

}
.header__price img{
    width: 20px;
    height: 30px;
}

.header__price p{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 22px;
    font-family: Roboto-Bold;
}

.price{
    width: 100%;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.start{
    border-radius: 5px;
    height: 100%;
    background: linear-gradient( 25deg, rgba(137, 239, 229, 1) 0%, rgba(34, 123, 243, 1) 90% );
    margin-top: 110px;
    margin-bottom: 110px;
    width: 100%;
}
.start p{
    font-family: Roboto-Medium;
    font-size: 15px;
    padding-left: 15px;
    color: #fff;
    line-height: 1.5;
}
.start span{
    padding-bottom: 45px;
    padding-top: 50px;
    font-family: Roboto-Bold;
    font-size: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.business{
    border-radius: 5px;
    height: 100%;
    background: linear-gradient( 35deg, rgba(209, 82, 183, 1) 0%, rgba(254, 113, 66, 1) 90% );
    margin-top: 110px;
    margin-bottom: 110px;
    width: 100%;
    margin-right: 80px;
}
.business p{
    font-family: Roboto-Medium;
    font-size: 15px;
    padding-left: 15px;
    color: #fff;
    line-height: 1.5;
}
.business span{
    padding-bottom: 45px;
    padding-top: 50px;
    font-family: Roboto-Bold;
    font-size: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.vip{
    border-radius: 5px;
    height: 100%;
    background: linear-gradient( 215deg, rgba(231, 95, 133, 1) 0%, rgba(125, 67, 151, 1) 90% );
    margin-top: 110px;
    margin-bottom: 110px;
    width: 100%;
}
.vip p{
    font-family: Roboto-Medium;
    font-size: 15px;
    padding-left: 15px;
    color: #fff;
    line-height: 1.5;
}
.vip span{
    padding-bottom: 45px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: Roboto-Bold;
    font-size: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    line-height: 1.5;
}
.price_order a{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.price_order span{
    padding-bottom: 15px;
}

.price_order a:hover{
    color: #fff;
}

.price_order a:before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    left: 50%;
    bottom: 54%;
}
.price_order a:after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    left: 50%;
    bottom: 54%;
}
.price_order a:hover:before {
    width: 34%;
    left: 32%;
}
.price_order a:hover:after {
    width: 15%;
}

.main__content__price{
    width: 26%;
}
.second__content__price{
    width: 60%;
    display: flex;
    justify-content: space-around;
}


.priceBlockTogle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 40px
}

.priceBlock {
    width: 30%;
    background: #f7f7f7
}

.gradiPrice {
    width: 100%;
    height: 4px
}

.gradiPrice-1 {
    background-image: -webkit-linear-gradient(180deg, #882fc6 0, #c34dac 46%, #fe6a91 100%);
    background-size: cover;
    background-repeat: no-repeat
}

.gradiPrice-2 {
    background-image: -webkit-linear-gradient(0deg, #578aff 0, #806fff 46%, #a853ff 100%);
    background-size: cover;
    background-repeat: no-repeat
}

.gradiPrice-3 {
    background-image: -webkit-linear-gradient(0deg, #f0357c 0, #f154ff 24%, #777dff 48%, #497ce2 77%, #37bdde 100%);
    background-size: cover;
    background-repeat: no-repeat
}

.priceTitle {
    font-family: OpenSansBold;
    font-size: 34.46px;
    text-align: center;
    margin-top: 45px;
    line-height: 1.5
}

.priceText {
    line-height: 1.636;
    font-family: OpenSansRegular;
    font-size: 15.28px;
    text-align: left;
    margin-top: 35px;
    padding-left: 25px
}

.priceText ul li {
    position: relative;
    padding-left: 5px
}

.pricePrice {
    line-height: 1.5;
    font-family: OpenSansBold;
    font-size: 34.46px;
    text-align: center;
    margin-top: 40px
}

.hyrivna {
    font-family: MontserratBold
}

.priceZakaz {
    font-size: 16.67px;
    line-height: 3.102;
    font-family: OpenSansRegular;
    text-align: center
}

.priceZakaz a {
    color: #000
}

.priceZakaz a:hover {
    color: #6bf
}

@media (max-width: 500px) {
    .priceBlockTogle {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .priceBlock {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 21%
    }

    .priceActive {
        width: 55%;
        margin-left: 1%;
        margin-right: 1%
    }

    .priceActive .priceTitle {
        font-size: 20.74px;
        margin-top: 30px
    }

    .priceActive .priceText {
        font-size: 15px;
        margin-top: 30px
    }

    .priceActive .pricePrice {
        font-size: 20.74px;
        margin-top: 30px
    }

    .priceActive .priceZakaz {
        font-size: 15.4px;
        margin-bottom: 10px
    }

    .priceTitle {
        font-size: 13.23px;
        margin-top: 20px
    }

    .priceText {
        font-size: 5.8px;
        margin-top: 20px;
        padding-left: 5px
    }

    .pricePrice {
        font-size: 13.23px;
        margin-top: 20px
    }

    .priceZakaz {
        font-size: 6.4px;
        margin-bottom: 5px
    }

    .title-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .title-text svg {
        padding-right: 0
    }
}

@media (max-width: 450px) {
    .priceActive .priceText ul li {
        padding-left: 7px
    }

    .priceActive .priceText {
        font-size: 14px
    }
}

@media (max-width: 400px) {
    .priceActive .priceText {
        font-size: 13px
    }
}
